.results-area {
  margin-top: 20px;
}

.search-results {
  max-height: 500px;
  overflow: auto;
}


.search-results .game {
  margin: 20px;
  box-sizing: border-box;
}

.search-results .game:hover {
  background-color: lightblue;
  cursor: pointer;
}

.search-results .game .thumb { 
  display: inline-block;
  margin-right: 10px;
  }

.search-results .game .thumb .img {  
  max-width: 100px;
}

.search-results .game .description {
  display: inline-block;
  vertical-align: top;
}